@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.grid-monica-ojeda div img {
  width: 100%;
  height: 100%;
}

.grid-libros-o {
  border: 3px solid rgb(136, 95, 136);
}

.grid-ojeda {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}

.texto-o {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 10px;
  color: rgb(136, 95, 136);
  text-align: justify;
  width: 60%;
}

/*----RESEAT----*/
* {
  margin: 0;
  padding: 0;
}

main h2 {
  background-color: rgb(217, 140, 151);
  font-size: 30px;
  text-align: center;
  color: rgb(51, 51, 51);
  padding: 20px;
  font-family: "Raleway", sans-serif !important;
}

body {
  font-family: "Raleway", sans-serif !important;
}

.boton {
  background-color: rgb(136, 95, 136);
  text-decoration: none;
  color: rgb(250, 245, 240);
  font-size: 25px;
  padding: 15px 50px;
}

header {
  background-color: rgb(136, 95, 136);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-family: "Raleway", sans-serif;
}
header h1 {
  color: rgb(250, 245, 240);
}
header a.navbar-brand {
  color: rgb(250, 245, 240);
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  padding: 5px;
  margin: 20px 30px 0 0;
}
header a.nav-link {
  color: rgb(250, 245, 240) !important;
  font-family: "Raleway", sans-serif !important;
  font-size: 16px;
  margin: 20px 50px 0 0;
}
header a.dropdown-item {
  color: rgb(250, 245, 240);
}
header .dropdown-menu {
  background-color: rgb(136, 95, 136);
}

/*INDEX*/
.subtitulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitulo-contenedor p {
  width: 250px;
  text-align: center;
}

.recomendaciones-grid {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-auto-rows: 240px;
  padding: 50px;
}
.recomendaciones-grid div img {
  width: 100%;
  height: 100%;
}

.grid-item {
  border: 3px solid rgb(51, 51, 51);
  position: relative;
}
.grid-item h3 {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  background-color: rgb(51, 51, 51);
  color: rgb(250, 245, 240);
  padding: 10px;
}

.boton-autoras {
  background-color: rgb(136, 95, 136);
  text-decoration: none;
  color: rgb(250, 245, 240);
  font-size: 25px;
  padding: 15px 50px;
}

.subtitulo-autoras-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.subtitulo-autoras-contenedor .texto-autoras {
  flex: 0 0 220px;
  text-align: center;
  justify-items: center;
  justify-content: end;
  margin-top: 100px;
  margin-right: 200px;
}
.subtitulo-autoras-contenedor .autoras-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin-bottom: 20px;
}
.subtitulo-autoras-contenedor .autoras-grid .grid-item-autoras {
  background-color: rgb(240, 240, 240);
  aspect-ratio: 3/4;
  overflow: hidden;
}
.subtitulo-autoras-contenedor .autoras-grid .grid-item-autoras img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.seccion-reseña-contenedor {
  display: flex;
  align-items: center;
}
.seccion-reseña-contenedor div {
  width: 33%;
  text-align: center;
}
.seccion-reseña-contenedor p {
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
.seccion-reseña-contenedor .parte-2 .portada {
  width: 400px;
  margin-top: 50px;
}
.seccion-reseña-contenedor .parte-2 .puntuacion {
  width: 420px;
  margin-bottom: 30px;
}
.seccion-reseña-contenedor .parte-3 p {
  width: 450px;
  text-align: justify;
}

.quienes-somos p {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
.quienes-somos-contenedor {
  display: flex;
  justify-content: center; /* CENTRA los cuadros en el eje X */
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap; /* permite que se apilen si la pantalla es pequeña */
}
.quienes-somos-contenedor p {
  text-align: justify;
  width: 450px;
}
.quienes-somos-flexa, .quienes-somos-flexb {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(240, 240, 240);
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  width: 560px;
  height: 890px;
}
.quienes-somos-flexa img, .quienes-somos-flexb img {
  width: 400px;
  height: 440px;
  margin-top: 60px;
}

/*AUTORAS */
.pagina-autoras p {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

.contenedor-grid-pagina-autoras {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contenedor-grid-pagina-autoras > section {
  flex: 0 0 300px;
}

.grid-monica-ojeda {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-auto-rows: 200px 200px 200px 200px;
  column-gap: 10px;
  padding: 50px;
}

div img {
  width: 100%;
  height: 100%;
}

.grid-libros-o {
  border: 3px solid rgb(136, 95, 136);
}

.grid-ojeda {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}

.texto-o {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 10px;
  color: rgb(136, 95, 136);
  text-align: justify;
  width: 60%;
}

.grid-han-kang {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-auto-rows: 200px 200px 200px 200px;
  column-gap: 10px;
  padding: 50px;
}

.grid-libros-k {
  border: 3px solid rgb(136, 95, 136);
}

.grid-kang {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}

.texto-k {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 10px;
  color: rgb(136, 95, 136);
  text-align: justify;
  width: 60%;
}

.grid-rita-indiana {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-auto-rows: 200px 200px 200px 200px;
  column-gap: 10px;
  padding: 50px;
}

.grid-libros-i {
  border: 3px solid rgb(136, 95, 136);
}

.grid-indiana {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}

.texto-i {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 10px;
  color: rgb(136, 95, 136);
  text-align: justify;
  width: 60%;
}

.grid-daniela-catrileo {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-auto-rows: 200px 200px 200px 200px;
  column-gap: 10px;
  padding: 50px;
}

.grid-libros-c {
  border: 3px solid rgb(136, 95, 136);
}

.grid-catrileo {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}

.texto-c {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 10px;
  color: rgb(136, 95, 136);
  text-align: justify;
  width: 60%;
}

.grid-mariana-enriquez {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-auto-rows: 200px 200px 200px 200px;
  column-gap: 10px;
  padding: 50px;
}

.grid-libros-e {
  border: 3px solid rgb(136, 95, 136);
}

.grid-enriquez {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}

.texto-e {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 10px;
  color: rgb(136, 95, 136);
  text-align: justify;
  width: 60%;
}

.grid-karina-pacheco {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-auto-rows: 200px 200px 200px 200px;
  column-gap: 10px;
  padding: 50px;
}

.grid-libros-p {
  border: 3px solid rgb(136, 95, 136);
}

.grid-pacheco {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}

.texto-p {
  grid-column: span 2;
  grid-row: span 2;
  margin-top: 10px;
  color: rgb(136, 95, 136);
  text-align: justify;
  width: 60%;
}

/*RESEÑAS*/
.pagina-reseñas p {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

/* Tundra*/
.grid-pagina-tundra {
  display: grid;
  grid-template-columns: 360px 200px 300px;
  grid-auto-rows: 200px 200px 50px;
  column-gap: 10px;
  padding: 50px;
  justify-content: left;
}

.grid-portada-t {
  grid-row: span 2;
}
.grid-portada-t img {
  width: 100%;
  height: 100%;
}

.texto-tundra {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}
.texto-tundra p {
  margin: 20px;
  color: rgb(136, 95, 136);
  text-align: justify;
}

.grid-puntuacion-t img {
  width: 360px;
  height: 50px;
}

/*Errantes*/
.grid-pagina-errantes {
  display: grid;
  grid-template-columns: 360px 200px 300px;
  grid-auto-rows: 200px 200px 50px;
  column-gap: 10px;
  padding: 50px;
  justify-content: right;
}

.grid-portada-e {
  grid-row: span 2;
}
.grid-portada-e img {
  width: 100%;
  height: 100%;
}

.texto-errantes {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}
.texto-errantes p {
  margin: 20px;
  color: rgb(136, 95, 136);
  text-align: justify;
}

.grid-puntuacion-e img {
  width: 100%;
  height: 100%;
}

/*Mujer*/
.grid-pagina-mujer {
  display: grid;
  grid-template-columns: 360px 200px 300px;
  grid-auto-rows: 200px 200px 50px;
  column-gap: 10px;
  padding: 50px;
  justify-content: left;
}

.grid-portada-m {
  grid-row: span 2;
}
.grid-portada-m img {
  width: 100%;
  height: 100%;
}

.texto-mujer {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}
.texto-mujer p {
  margin: 20px;
  color: rgb(136, 95, 136);
  text-align: justify;
}

.grid-puntuacion-m img {
  width: 100%;
  height: 100%;
}

/*Desesperados*/
.grid-pagina-desesperados {
  display: grid;
  grid-template-columns: 360px 200px 300px;
  grid-auto-rows: 200px 200px 50px;
  column-gap: 10px;
  padding: 50px;
  justify-content: right;
}

.grid-portada-d {
  grid-row: span 2;
}
.grid-portada-d img {
  width: 100%;
  height: 100%;
}

.texto-desesperados {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}
.texto-desesperados p {
  margin: 20px;
  color: rgb(136, 95, 136);
  text-align: justify;
}

.grid-puntuacion-d img {
  width: 100%;
  height: 100%;
}

/*Caminos abiertos*/
.grid-pagina-caminos {
  display: grid;
  grid-template-columns: 360px 200px 300px;
  grid-auto-rows: 200px 200px 50px;
  column-gap: 10px;
  padding: 50px;
  justify-content: left;
}

.grid-portada-c {
  grid-row: span 2;
}
.grid-portada-c img {
  width: 100%;
  height: 100%;
}

.texto-caminos {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}
.texto-caminos p {
  margin: 20px;
  color: rgb(136, 95, 136);
  text-align: justify;
}

.grid-puntuacion-c img {
  width: 100%;
  height: 100%;
}

/*Polvo*/
.grid-pagina-polvo {
  display: grid;
  grid-template-columns: 360px 200px 300px;
  grid-auto-rows: 200px 200px 50px;
  column-gap: 10px;
  padding: 50px;
  justify-content: right;
}

.grid-portada-p {
  grid-row: span 2;
}
.grid-portada-p img {
  width: 100%;
  height: 100%;
}

.texto-polvo {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);
}
.texto-polvo p {
  margin: 20px;
  color: rgb(136, 95, 136);
  text-align: justify;
}

.grid-puntuacion-p img {
  width: 100%;
  height: 100%;
}

/*CONTÁCTANOS*/
.contenedor-contactanos {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px;
  flex-wrap: wrap;
}

.contactanos-flexa,
.contactanos-flexb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.contactanos-flexa.contactanos-flexa,
.contactanos-flexb.contactanos-flexa {
  width: 700px;
  height: 700px;
}
.contactanos-flexa.contactanos-flexb,
.contactanos-flexb.contactanos-flexb {
  width: 500px;
  height: 250px;
}

.seccion-contactanos img {
  width: 1520px;
  height: 500px;
}

.input-corto {
  width: 600px;
}

.input-largo {
  width: 600px;
  height: 300px;
  margin-bottom: 30px;
}

footer {
  background-color: rgb(136, 95, 136);
}
footer h1 {
  color: rgb(250, 245, 240);
}
footer h2 {
  font-family: "Raleway", sans-serif !important;
  font-size: 25px;
  color: rgb(250, 245, 240);
}
footer p {
  color: rgb(250, 245, 240);
}
footer i {
  font-size: 50px;
  color: rgb(51, 51, 51);
}
footer i:hover {
  color: rgb(250, 245, 240);
}

@media screen and (max-width: 1227px) {
  .seccion-reseña-contenedor {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .seccion-reseña-contenedor > div {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1161px) {
  .seccion-reseña-contenedor.parte-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1135px) {
  .subtitulo-contenedor p {
    display: none;
  }
}
@media screen and (max-width: 1068px) {
  .texto-autoras {
    display: none;
  }
}
@media screen and (max-width: 1068px) {
  .grid-pagina-tundra,
  .grid-pagina-errantes,
  .grid-pagina-mujer,
  .grid-pagina-desesperados,
  .grid-pagina-caminos,
  .grid-pagina-polvo {
    justify-content: center;
  }
}
@media (max-width: 963px) {
  .recomendaciones-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    padding: 20px;
  }
}
@media (max-width: 620px) {
  .contenedor-grid-pagina-autoras {
    justify-content: center;
  }
  .contenedor-grid-pagina-autoras section {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .quienes-somos-flexa,
  .quienes-somos-flexb {
    text-align: center;
  }
}
@media screen and (max-width: 520px) {
  .grid-item h3 {
    font-size: 10px;
    padding: 5px;
  }
}
@media (max-width: 479px) {
  .recomendaciones-grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
    padding: 20px;
  }
}
@media (max-width: 432px) {
  .quienes-somos-flexa,
  .quienes-somos-flexb {
    width: 360px;
    height: 720px;
  }
  .quienes-somos-flexa img,
  .quienes-somos-flexb img {
    width: 300px;
    height: 350px;
  }
  .quienes-somos-contenedor {
    gap: 5px;
  }
  .quienes-somos-contenedor p {
    text-align: justify;
    width: 350px;
    font-size: small;
  }
}
@media (max-width: 397px) {
  .seccion-reseña .seccion-reseña-contenedor .parte-2 .portada {
    width: 300px;
    margin-top: 50px;
  }
  .seccion-reseña .seccion-reseña-contenedor .parte-2 .puntuacion {
    width: 300px;
    margin-bottom: 30px;
  }
  .seccion-reseña .seccion-reseña-contenedor .parte-3 p {
    width: 350px;
    text-align: justify;
  }
}
@media (max-width: 620px) {
  footer {
    text-align: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
