@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*----RESEAT----*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Raleway", sans-serif !important;
}




header{
    background-color: rgb(136, 95, 136);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    font-family: "Raleway", sans-serif;

}

h1 {
    color: rgb(250, 245, 240);
}

header{
    background-color: rgb(136, 95, 136);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    font-family: "Raleway", sans-serif;
}


a.navbar-brand{
   color: rgb(250, 245, 240);
   font-size: 25px;
   font-family: "Raleway", sans-serif ;
   padding: 5px;
   margin: 0 30px 0 0;
   margin-top: 20px;
}

a.nav-link{
    color: rgb(250, 245, 240) !important;
    font-family: "Raleway", sans-serif !important;
    font-size: 16px;
    margin: 20px 50px 0 0;
     
}

a.dropdown-item{
    color: rgb(250, 245, 240);
}

.dropdown-menu{
    background-color: rgb(136, 95, 136);
}



/*-----MAIN-----*/
main h2{
    background-color: rgb(217, 140, 151);
    font-size: 30px;
    text-align: center;
    color: rgb(51, 51, 51);
    padding: 20px;
    font-family: "Raleway", sans-serif !important;
   
}

/*-----RECOMENDACIONES-----*/

.subtitulo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitulo-contenedor p{
    width: 250px;
    text-align: center;
    
}

.recomendaciones-grid{
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 160px;
    grid-auto-rows: 240px 240px;
    padding: 50px;
    
    
}




.grid-item{
    border: 3px solid rgb(51, 51, 51);
    position: relative;
}

.recomendaciones-grid div img{
    width: 100%;
    height: 100%;
}



.grid-item h3{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    background-color: rgb(51, 51, 51);
    color: rgb(250, 245, 240);
    padding: 10px;
}

/*-----Sección autoras-----*/

.boton{
    background-color: rgb(136, 95, 136);
    text-decoration: none;
    color: rgb(250, 245, 240);
    font-size: 25px;
    padding: 15px 50px;
   
}


.subtitulo-autoras-contenedor {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  
}


.texto-autoras {
  flex: 0 0 220px; 
  text-align: center;
  justify-items: center;
  justify-content: end;
  margin-top: 100px;
  margin-right: 200px
}


.autoras-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin-bottom: 20px;
  
}


.grid-item-autoras {
  background-color: rgb(240, 240, 240);
  aspect-ratio: 3 / 4;
  overflow: hidden;
  
}


.grid-item-autoras img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
}


/*-----Class sección reseña-----*/



.seccion-reseña-contenedor{
display: flex;
align-items: center;


}
.seccion-reseña-contenedor div{
    
    width: 33%;
    text-align: center; 
    
}

.seccion-reseña-contenedor p{
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    
}


.parte-2 .portada{
    width: 400px;
    margin-top: 50px;
}

.parte-2 .puntuacion{
    width: 420px;
    margin-bottom: 30px;
   
}

.parte-3 p{
    width: 450px;
    text-align: justify;
   
}


/*----qUIENES SOMOS-----*/

.quienes-somos p{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    
}

.quienes-somos-contenedor {
  display: flex;
  justify-content: center;    /* CENTRA los cuadros en el eje X */
  align-items: flex-start;
  gap: 40px;                  
  padding: 40px;
  flex-wrap: wrap;            /* permite que se apilen si la pantalla es pequeña */
}

.quienes-somos-contenedor p{
    text-align: justify;
    width: 450px;
}

.quienes-somos-flexa,
.quienes-somos-flexb {
  display: flex;
  flex-direction: column; 
  text-align: center;
  background-color: rgb(240, 240, 240);
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  width: 560px;
  height: 890px;
  
}

.quienes-somos-flexa img,
.quienes-somos-flexb img{

    width: 400px;
    height: 440px;
    margin-top: 60px;


}

/*----FOOTER-----*/

footer{
    background-color: rgb(136, 95, 136);
   
}

footer h1{
    color: rgb(250 245 240);
}

footer h2{
    font-family: "Raleway", sans-serif !important;
    font-size: 25px;
    color: rgb(250, 245, 240);
    
 
}

footer p{
    color: rgb(250, 245, 240);
}

footer i{
    font-size: 50px;
    color: rgb(51, 51, 51);
    
}

footer i:hover{
    color: rgb(250, 245, 240);
   
}


/*----MEDIA-----*/


@media screen and (max-width: 1227px) {
  .seccion-reseña-contenedor {
    flex-direction: column;     
    align-items: center;        
    text-align: center;         
  }

  .seccion-reseña-contenedor > div {
    width: 100%;               
    max-width: 500px;           
    margin-bottom: 20px;
  }
}




@media screen and (max-width: 1161px){
    .seccion-reseña-contenedor.parte-1{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}



@media screen and (max-width: 1135px){
.subtitulo-contenedor p{
    display: none;  

}
}








@media (max-width: 963px) {
    .recomendaciones-grid {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-auto-rows: 150px; 
        padding: 20px; 
    }
}


@media (max-width: 576px) {

 

  .quienes-somos-flexa,
  .quienes-somos-flexb {
    text-align: center;

    
   
  }



@media screen and (max-width: 520px){

     .grid-item h3 {
        font-size: 10px;
        padding: 5px;
    }
}

@media (max-width: 479px) {
    .recomendaciones-grid {
        grid-template-columns: 1fr 1fr; 
        grid-auto-rows: 150px; 
        padding: 20px; 
    }
}

}

@media (max-width: 432px) {

.quienes-somos-flexa,
.quienes-somos-flexb {
  width: 360px;
  height: 720px;

  
}

.quienes-somos-contenedor {

  gap: 5px;                  
   
}


.quienes-somos-flexa img,
.quienes-somos-flexb img{

    width: 300px;
    height: 350px;

}

.quienes-somos-contenedor p{
    text-align: justify;
    width: 350px;
    font-size: small;
}



}





@media (max-width: 397px) {



.parte-2 .portada{
    width: 300px;
    margin-top: 50px;
}

.parte-2 .puntuacion{
    width: 300px;
    margin-bottom: 30px;
   
}

.parte-3 p{
    width: 350px;
    text-align: justify;
    
   
}




}