
/*INDEX*/

//*recomendaciones

.subtitulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    width: 250px;
    text-align: center;
  }
}

.recomendaciones-grid {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-auto-rows: 240px;
  padding: 50px;

  div {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.grid-item {
  border: 3px solid rgb(51, 51, 51);
  position: relative;

  h3 {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    background-color: rgb(51, 51, 51);
    color: rgb(250, 245, 240);
    padding: 10px;
  }
}

//* autoras

.subtitulo-autoras-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;

  .texto-autoras {
    flex: 0 0 220px;
    text-align: center;
    justify-items: center;
    justify-content: end;
    margin-top: 100px;
    margin-right: 200px;
  }

  .autoras-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    margin-bottom: 20px;

    .grid-item-autoras {
      background-color: rgb(240, 240, 240);
      aspect-ratio: 3 / 4;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }
}

//*reseña

.seccion-reseña-contenedor {
  display: flex;
  align-items: center;

  div {
    width: 33%;
    text-align: center;
  }

  p {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }

  .parte-2 {
    .portada {
      width: 400px;
      margin-top: 50px;
    }

    .puntuacion {
      width: 420px;
      margin-bottom: 30px;
    }
  }

  .parte-3 {
    p {
      width: 450px;
      text-align: justify;
    }
  }
}

//* quienes somos

.quienes-somos {
  p {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
  }

  &-contenedor {
    display: flex;
    justify-content: center; /* CENTRA los cuadros en el eje X */
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap; /* permite que se apilen si la pantalla es pequeña */

    p {
      text-align: justify;
      width: 450px;
    }
  }

  &-flexa,
  &-flexb {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(240, 240, 240);
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    width: 560px;
    height: 890px;

    img {
      width: 400px;
      height: 440px;
      margin-top: 60px;
    }
  }
}

/*AUTORAS */

.pagina-autoras {
  p {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }
}


 .contenedor-grid-pagina-autoras {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contenedor-grid-pagina-autoras > section {
  flex: 0 0 300px;
}

//*Monica Ojeda

.grid-monica-ojeda {
  @include grid-config(
    130px 130px 130px 130px,
    200px 200px 200px 200px
  );
}

@mixin full-size-img {
  width: 100%;
  height: 100%;
}

@mixin custom-border($width: 3px, $color: rgb(136, 95, 136)) {
  border: $width solid $color;
}

@mixin grid-span($cols: 2, $rows: 2) {
  grid-column: span $cols;
  grid-row: span $rows;
}

@mixin text-style(
  $color: rgb(136, 95, 136),
  $align: justify,
  $margin-top: 10px,
  $width: 60%
) {
  margin-top: $margin-top;
  color: $color;
  text-align: $align;
  width: $width;
}


div img {
  @include full-size-img;
}

.grid-libros-o {
  @include custom-border;
}

.grid-ojeda {
  @include grid-span;
  background-color: rgb(240, 240, 240);
}

.texto-o {
  @include grid-span;
  @include text-style;
}


//*Han Kang

.grid-han-kang {
  @include grid-config(
    130px 130px 130px 130px,
    200px 200px 200px 200px
  );
}

.grid-libros-k {
  @include custom-border;
}

.grid-kang {
  @include grid-span;
  background-color: rgb(240, 240, 240);
}

.texto-k {
  @include grid-span;
  @include text-style;
}

//* Rita Indiana

.grid-rita-indiana {
  @include grid-config(
    130px 130px 130px 130px,
    200px 200px 200px 200px
  );
}

.grid-libros-i {
  @include custom-border;
}

.grid-indiana {
  @include grid-span;
  background-color: rgb(240, 240, 240);
}

.texto-i {
  @include grid-span;
  @include text-style;
}

//* Daniela Catrileo 

.grid-daniela-catrileo {
  @include grid-config(
    130px 130px 130px 130px,
    200px 200px 200px 200px
  );
}

.grid-libros-c {
  @include custom-border;
}

.grid-catrileo {
  @include grid-span;
  background-color: rgb(240, 240, 240);
}

.texto-c {
  @include grid-span;
  @include text-style;
}


//* Rita Indiana

.grid-mariana-enriquez {
  @include grid-config(
    130px 130px 130px 130px,
    200px 200px 200px 200px
  );
}

.grid-libros-e {
  @include custom-border;
}

.grid-enriquez {
  @include grid-span;
  background-color: rgb(240, 240, 240);
}

.texto-e {
  @include grid-span;
  @include text-style;
}


//* Karina Pacheco

.grid-karina-pacheco {
  @include grid-config(
    130px 130px 130px 130px,
    200px 200px 200px 200px
  );
}

.grid-libros-p {
  @include custom-border;
}

.grid-pacheco {
  @include grid-span;
  background-color: rgb(240, 240, 240);
}

.texto-p {
  @include grid-span;
  @include text-style;
}


/*RESEÑAS*/

.pagina-reseñas {
  p {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }
}

/* Tundra*/

.grid-pagina-tundra {
  @include custom-grid(360px 200px 300px, 200px 200px 50px, 10px, 50px);
justify-content: left;

}


.grid-portada-t {
  grid-row: span 2;

  img {
    @include full-img;
  }
}

.texto-tundra {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);

  p {
    @include texto-estilo;
  }
}

.grid-puntuacion-t {
  img {
    width: 360px;
    height: 50px;
  }
}


/*Errantes*/

.grid-pagina-errantes {
  @include custom-grid(360px 200px 300px, 200px 200px 50px, 10px, 50px);
justify-content: right;
}

.grid-portada-e {
  grid-row: span 2;

  img {
    @include full-img;
  }
}

.texto-errantes {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);

  p {
    @include texto-estilo;
  }
}

.grid-puntuacion-e {
  img {
    width: 100%;
    height: 100%;
  }
}



/*Mujer*/

.grid-pagina-mujer {
  @include custom-grid(360px 200px 300px, 200px 200px 50px, 10px, 50px);
justify-content: left; 
}

.grid-portada-m {
  grid-row: span 2;

  img {
    @include full-img;
  }
}

.texto-mujer {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);

  p {
    @include texto-estilo;
  }
}

.grid-puntuacion-m {
  img {
    width: 100%;
    height: 100%;
  }
}



/*Desesperados*/

.grid-pagina-desesperados {
  @include custom-grid(360px 200px 300px, 200px 200px 50px, 10px, 50px);
justify-content: right;

}

.grid-portada-d {
  grid-row: span 2;

  img {
    @include full-img;
  }
}

.texto-desesperados {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);

  p {
    @include texto-estilo;
  }
}

.grid-puntuacion-d {
  img {
    width: 100%;
    height: 100%;
  }
}



/*Caminos abiertos*/

.grid-pagina-caminos {
  @include custom-grid(360px 200px 300px, 200px 200px 50px, 10px, 50px);
justify-content: left; 
}

.grid-portada-c {
  grid-row: span 2;

  img {
    @include full-img;
  }
}
.texto-caminos {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);

  p {
    @include texto-estilo;
  }
}

.grid-puntuacion-c {
  img {
    width: 100%;
    height: 100%;
  }
}



/*Polvo*/

.grid-pagina-polvo {
  @include custom-grid(360px 200px 300px, 200px 200px 50px, 10px, 50px);
justify-content: right;

}

.grid-portada-p {
  grid-row: span 2;

  img {
    @include full-img;
  }
}

.texto-polvo {
  grid-column: span 2;
  grid-row: span 2;
  background-color: rgb(240, 240, 240);

  p {
    @include texto-estilo;
  }
}

.grid-puntuacion-p {
  img {
    width: 100%;
    height: 100%;
  }
}

